#board {
    position : relative;
    width : 100%;
    height : 400px;
    background-color: yellow;
}
.rect {
    position : absolute;
    width : 200px;
    height : 200px;
}
.blue {
    background-color : blue;
    left : 50px;
}
.red  {
    background-color: red;
    top : 200px;
    left : 200px;
}
